body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: #EAEAEA;
    color: #3C4048;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #00ABB3;
    text-decoration: none;
    font-weight: bold;
}

h1, h2, h3 {
    color: #00ABB3;
}

ul {
    list-style-type: none;
    padding: 0;
}

.section {
    margin-bottom: 20px;
    background: #FFFFFF; /* Fundo da seção */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

a {
    color: #00ABB3; /* Link */
}
