body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: #EAEAEA;
    color: #3C4048;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

.navbar {
    background-color: #00ABB3; /* Cor de destaque para o sumário */
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centraliza os itens */
}

.navbar ul li {
    margin: 0 15px;
}

.navbar a {
    color: white; /* Cor do texto no sumário */
    text-decoration: none;
    font-weight: bold;
}

h1, h2, h3 {
    color: #00ABB3;
}

ul {
    list-style-type: none;
    padding: 0;
}

.section {
    margin-bottom: 20px;
    background: #FFFFFF; /* Fundo da seção */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

a {
    color: #00ABB3; /* Link */
}

.footer {
    background-color: #00ABB3; /* Cor de fundo do rodapé */
    color: white; /* Cor do texto no rodapé */
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

.footer a {
    color: white; /* Cor dos links no rodapé */
    text-decoration: none;
}
